*{
    margin : 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

/* Nav Bar Section */

.navbar{
    background-color: #ffffff;
    z-index: 100;
    display: fixed;
    font-size: 20px;
    height: 10vh;
    width: 100%;
}

.navbar-brand h3{
    font-weight: bold;
}

.nav-item{
    font-size: 16.5px;
    font-weight: light;
}

.active{
    color: #274f42;
}

/* Contact Section */
.contact-container{
    height: 80vh;
    width: 100%;
    background-color: #373B44;
    background:linear-gradient(to left,#4286f4, #373B44) right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contact-decoration-orb{
    height: 25px;
    width: 25px;
    background: #c6ffdd;
    background:linear-gradient(to left,#c6ffdd, #FBD786, #f7797d) right;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
}

.contact-heading h2{
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.contact-container-form{
    height: 70vh;
    width: 50vh;
    background-color: white;
    border-radius: 5px;
}

form {
    height: 70vh;
    width: 50vh;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 10px;
}

label {
    display: block;
    margin: 3px 3px;
    color: #000;
}

label span{
    color: #274f42;
}

input,
textarea{
  width: 95%;
  border: none;
  border-bottom: 1px solid #000;
  color: #274f42;
  display: block;
}

input,
textarea:focus{
    outline: none;
}

input,
textarea:active{
    border-bottom: 1px solid #274f42;
}

button {
    width: 120px;
    border-radius: 25px;
    padding: 4px;
    border: 0px;
    background-color: #4286f4;
    color: white;   
    font-weight: bold;
  }

/* Footer Container */
.footer-container{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-copyright-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer-copyright-container p{
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 70px;
}

.footer-contact-container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.footer-contact-email{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contact-email h6{
    font-weight: bold;
    margin-top: 15px;
}

.footer-contact-email p{
    margin-top: -8px;
}

.footer-contact-email p a{
    text-decoration: none;
    color: black;
}

.footer-contact-socials{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.footer-contact-socials h6{
    font-weight: bold;
}

.footer-contact-socials-icons i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

/* Phone Responsive Query */
@media only screen and (max-width: 430px) {
    .navbar{
        height: 8vh;
    }

    .footer-container{
        height: 8vh;
    }

    .footer-copyright-container{
        display: none;
    }

    .footer-contact-container{
        width: 100%;
    }

    .footer-contact-email{
        display: none;
    }

    .footer-contact-socials{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer-contact-socials h6{
        font-size: 21.5px;
    }

    .footer-contact-socials-icons i{
        font-size: 20px;
    }
}