.navbar{
    background-color: #00001f;
}

.navbar-brand img{
    width: 100px;
    height: 100px;
}

.About{
    background-color: #00001f;
    height: 100vh;
}

.about-container{
    color: white;
}

.about-row-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-col-1{
    margin-top: 10%;
}

.about-col-1 p{
    font-size: 2rem;
    font-weight: lighter;
}

.about-col-1 h1{
    font-size: 6rem;
}

.about-col-2{
    margin-top: 10%;
}

.about-col-2 p{
    background-color: #e7e7ff;
    padding : 15px;
    color: #00001f;
    border-radius: 10px;
    width: 90%;
}

.about-col-2 p em{
    background-color: #e7e7ff;
}

.about-row-2{
    margin-top: 10%;
    text-align: center;
}

.about-row-2 col{
    background-color: #00001f;
}

.arrow{
    animation: MoveUpDown 2s infinite;
}

@keyframes MoveUpDown {
    0%,50%,100%{
        transform: translateY(0);
    }
    25%,75%{
        transform: translateY(-5px);
    }
}

@media all and (min-width:576px) and (max-width: 768px) {
    .about-col-1{
        margin-top: 2%;
    }

    .about-col-1 p{
        font-size: 3rem;
        font-weight: lighter;
        width: 100%;
        
    }

    .about-col-1 h1{
        font-size: 6rem;
        
    }

    .about-col-2{
        margin-top: 2%;
    }

    .about-row-2{
        margin-top:2%;
    }
}

@media all and (min-width:320px) and (max-width: 576px) { 
    .About{
        background-color: #00001f;
    }

    .about-col-1{
        margin-top: 0%;
    }

    .about-col-1 p{
        font-size: 0.5 rem;
        font-weight: lighter;
        margin-top: 5%;
        width: 100%;
    }

    .about-col-1 h1{
        font-size: 4rem;
        margin-bottom: 2%;
        margin-top: -5%;
    }

    .about-col-2{
        margin-top: 5%;
    }
}


